.Toolbar {
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #d35400;
    padding: 0 5rem;
}

.Toolbar nav {
    height: 100%;
}