.Input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.InputElement {
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font: inherit;
}

.Label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}